<?xml version="1.0" encoding="utf-8"?>
<!--suppress ALL -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jjoe64.graphview"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://schemas.android.com/apk/res/android ">

    <uses-sdk
        android:targetSdkVersion="16"
        android:minSdkVersion="9" />

    <application></application>
</manifest>
